*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  color: #f0f0f0;
  height: 80vh;
  background-image: url(/images/hero.jpg)
    linear-gradient(to right, rgba(43, 255, 124, 0.227) rgba(0, 255, 76, 0.248));
  clip-path: polygon(0 0, 100% 0, 100% 75%, 10% 100%, 0 100%);
  background-position: center;
}
.header-section .head-logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10vw;
}

.header-section__txt {
  text-align: center;
}
.header-section__txt h1 {
  padding: 0;
  border: 0;
  margin: 2rem;
  border-radius: 0;
  font-size: 4.8rem;
  animation: txt 1s ease-out forwards;
  transform: translateX(-10rem);
  opacity: 0;
}
.header-section__txt h2 {
  padding: 0;
  border: 0;
  margin: 1rem;
  border-radius: 0;
  font-size: 3.6rem;
  animation: txt 1s ease-out forwards;
  transform: translateX(10rem);
  opacity: 0;
  animation-delay: 0.8s;
}
.header-section__txt button {
  background-color: #f0f0f0;
  padding: 1rem;
  border: 0;
  margin: 0;
  border-radius: 1rem;
  cursor: pointer;
  color: #333;
  animation: txt 1s ease-out forwards;
  transform: translateY(10rem);
  opacity: 0;
  animation-delay: 1.5s;
}

@keyframes txt {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
