@import "base/reset";

@import "abstracts/variables";
@import "abstracts/include";
@import "abstracts/mixins";

.header-section {
  @extend %flex;
  color: $col-white;
  height: 80vh;
  background-image: linear-gradient(#25ff256b, #00ffa660), url(/images/hero.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 10% 100%, 0 100%);
  background-position: center;

  .head-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10vw;
  }
}

.header-section__txt {
  text-align: center;

  h1 {
    @include padmar(0, 0, 2rem, 0);
    font-size: $fsize * 4;
    animation: txt 1s ease-out forwards;
    transform: translateX(-10rem);
    opacity: 0;
    animation-delay: 0s;
    letter-spacing: 2rem;
  }

  h2 {
    @include padmar(0, 0, 1rem, 0);
    font-size: $fsize * 3;
    animation: txt 1s ease-out forwards;
    transform: translateX(10rem);
    opacity: 0;
    animation-delay: 0.5s;
    letter-spacing: 1rem;
  }

  @import "components/buttons";
}

@import "base/animations";
@import "layout/grid";
@import "pages/home.scss";
@import "base/typography";
@import "base/utilities";
@import "components/buttons";
@import "components/compositions";

.section-features {
  background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
    url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  padding: 20rem 0px;
  transform: skewY(-7deg);

  .row {
    transform: skewY(7deg);
    text-align: center;
  }

  .col-1-of-4 {
    background-color: $col-white;
    color: $color-txt-dark;
    height: 30rem;
    padding: 3rem;
    font-size: 1.4rem;
    border-radius: 3px;
    transition: 0.3s;

    .card-icon {
      margin-bottom: 4rem;
      display: inline-block;
      font-size: 6rem;
      background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc);
      -webkit-background-clip: quote($string: "");
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .heading-secondary {
      margin-bottom: 1rem;
      font-size: $default-font-size;
    }

    .txt {
      line-height: 1.5;
    }
    &:hover {
      transform: scale(1.05) translateY(-2rem);
    }
  }
}

.tours-section {
  .card {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
    height: 52rem;
    perspective: 150rem;
    transition: 0.8s ease-in-out;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }

    &-side {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212);
      position: absolute;
      height: 52rem;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      backface-visibility: hidden;
    }

    &_frontend {
      backface-visibility: hidden;
    }

    &_backend {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;

      &--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }
      &--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      }
      &--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }

    hr {
      border: 0.01px solid rgba(128, 128, 128, 0.263);
    }

    &_img {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      height: 23rem;
      background-position: center;
      background-size: cover;
      position: relative;
      border-radius: 5px;
    }

    &_img--1 {
      background-image: linear-gradient(
          to right,
          rgba($color-secondary-light-1, 0.4),
          rgba($color-secondary-light-1, 0.4)
        ),
        url(/images/nat-5.jpg);
    }
    &_img--2 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.4),
          rgba($color-primary-light, 0.4)
        ),
        url(/images/nat-6.jpg);
    }
    &_img--3 {
      background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light-1, 0.4),
          rgba($color-tertiary-light-1, 0.4)
        ),
        url(/images/nat-7.jpg);
    }

    &_txt {
      font-size: 1.6rem;
      color: $color-txt-dark;
      padding: 3rem 5rem;

      p {
        padding: 1rem 0;
      }
    }
  }

  .heading-2 {
    text-align: right;
    font-size: 2.8rem;
    -webkit-box-decoration-break: clone;

    position: absolute;
    bottom: 3rem;
    right: 2rem;
    color: $col-white;
    background-image: linear-gradient(
      to bottom right,
      rgba($color-secondary-light-1, 0.7),
      rgba($color-secondary-light-2, 0.7)
    );

    padding: 1rem;
    z-index: 2;
  }

  .back__txt {
    display: inline-block;
    color: white;

    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    .card_number {
      font-size: 7.2rem;
      font-weight: 100;
      margin-bottom: 7rem;
    }
  }
}
