.comment-section {
  margin: 15rem 0;
  position: relative;
  width: 100%;
  .banner {
    opacity: 0.2;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .heading-secondary {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    position: absolute;
    top: 30rem;

    &__item {
      background-color: #ffffffac;
      width: 70%;
      transform: skewX(-10deg);
      padding: 3rem;

      & > * {
        transform: skewX(10deg);
      }
    }

    &__item--img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: 2rem;
      shape-outside: circle(50% at 50% 50%);
    }
    h3 {
      font-size: 1.6rem;
      line-height: 3;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    img {
      height: 100%;
    }
  }
}
