.tours-section {
  .card {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
    height: 52rem;
    perspective: 150rem;
    transition: 0.8s ease-in-out;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }

    &-side {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.212);
      position: absolute;
      height: 52rem;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      backface-visibility: hidden;
    }

    &_frontend {
      backface-visibility: hidden;
    }

    &_backend {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;

      &--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }
      &--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      }
      &--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }

    hr {
      border: 0.01px solid rgba(128, 128, 128, 0.263);
    }

    &_img {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      height: 23rem;
      background-position: center;
      background-size: cover;
      position: relative;
      border-radius: 5px;
    }

    &_img--1 {
      background-image: linear-gradient(
          to right,
          rgba($color-secondary-light-1, 0.4),
          rgba($color-secondary-light-1, 0.4)
        ),
        url(../images/nat-5.jpg);
    }
    &_img--2 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.4),
          rgba($color-primary-light, 0.4)
        ),
        url(../images/nat-6.jpg);
    }
    &_img--3 {
      background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light-1, 0.4),
          rgba($color-tertiary-light-1, 0.4)
        ),
        url(../images/nat-7.jpg);
    }

    &_txt {
      font-size: 1.6rem;
      color: $color-txt-dark;
      padding: 3rem 5rem;

      p {
        padding: 1rem 0;
      }
    }
  }

  .heading-2 {
    text-align: right;
    font-size: 2.8rem;
    -webkit-box-decoration-break: clone;

    position: absolute;
    bottom: 3rem;
    right: 2rem;
    color: $col-white;
    background-image: linear-gradient(
      to bottom right,
      rgba($color-secondary-light-1, 0.7),
      rgba($color-secondary-light-2, 0.7)
    );

    padding: 1rem;
    z-index: 2;
  }

  .back__txt {
    display: inline-block;
    color: white;

    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    .card_number {
      font-size: 7.2rem;
      font-weight: 100;
      margin-bottom: 7rem;
    }
  }
}
