.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: $space-vertical;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.7s;

  &:hover {
    transform: skewY(-10deg) scale(1.1);
    text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 5rem;
  color: $color-gray;
}
.text-box {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: $color-gray;
}
